*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.img-A{
    height: 750px;
    width: 600px;
    border: 10px solid rgb(188, 255, 255);
}

#size{
    border: 5px dashed lightskyblue;
    width: 150px;
    height: 50px;
    font-size: 25px;
    margin-top: 20px;
}

.sheet{
    width: 500px;
    background: rgba(220, 220, 220, 0);
    margin-top: 50px;
    text-align-last: center;
}

td{
    height: 50px;
}

.A-title{
    width: 100px;
    background-color: rgba(220, 220, 220, 0);
    margin-top: -50px;
    font-size: 35px;
}

.relative{
    margin-left: 35px;
    background: black;
    width: 500px;
    height: 500px;
}

.absolute{
    background: gainsboro;
    width: 100px;
    height: 100px;
}